<form #articleform="ngForm"  (ngSubmit)="create_article(articleform)">
    <div class="ui-g pull-right">        
        <button pButton type="submit" label="Save Draft" (click)="onSubmit('draft')" [disabled]="!articleform.form.valid"  class="ui-button-info"></button>
        <button pButton type="button" label="Review" [disabled]="!articleform.form.valid"></button>
        <button pButton type="submit" label="Publish" class="ui-button-success"  [disabled]="!articleform.form.valid" (click)="onSubmit('pulish')"></button>
    </div>
    <br><br>

    <div *ngIf="response && response.status==500"  style="color:red" [innerHtml]="response.error_messages">                
    </div>

    <div class="ui-g">

        <div class="ui-g-1">
            Heading
        </div>

        <div class="ui-g-11">
            <div class="article-form">
                <input type="text"  name="heading" pInputText required ngModel #articlename="ngModel"/>                        
            </div>

            <div [hidden]="articlename.valid || articlename.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>

    </div>

    <br><br>
    <div class="ui-g">
        <div class="ui-g-1">
            Edit Url
        </div>
        <div class="ui-g-11">

            <div class=" article-form">
                <input type="text" name="url" pInputText required ngModel #articleurl="ngModel" />                        
            </div>

            <div [hidden]="articleurl.valid || articleurl.pristine" class="alert alert-danger">                
                Article url is required
            </div>

        </div>
    </div>

    <br><br>
    <div class="ui-g">
        <div class="ui-g-1">
            Summary
        </div>
        <div class="ui-g-11">
            <div class="article-form">
                <input type="text" name="summary" pInputText required ngModel #articlesummary="ngModel"/>
            </div>

            <div [hidden]="articlesummary.valid || articlesummary.pristine" class="alert alert-danger">                
                Article summary is required
            </div>
        </div>
    </div>

    <br><br>
    <div class="ui-g">
        <div class="ui-g-12">        
            Description
        </div>
    </div>

    <br>
    <div class="ui-g">
        <div class="ui-g-12">                
            <tinymce name="description" ngModel >            
            </tinymce>
        </div>
    </div>
</form>